@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  box-sizing: border-box;
  color: #2a4a5c;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #eff6ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 88%;
  height: 88%;
  display: flex;
  justify-content: space-between;
}
.container .image {
  width: 100%;
  height: 100%;
  position: relative;
}
.container .image img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.container .image .logo {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: transparent;
}
.container .image .logo img {
  width: 100px;
  background-color: transparent;
}
.container .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.container .content .contentBox {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container .content .contentBox .title {
  margin-bottom: 25px;
}
.container .content .contentBox .title h1 {
  font-weight: 350;
  font-size: 1.5rem;
}
.container .content .contentBox .title p {
  margin-top: 20px;
  color: #7b8a92;
  font-size: 1rem;
}
.container .content .contentBox form .registration-with-social {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}
.container .content .contentBox form .registration-with-social .button {
  text-decoration: none;
  width: 50%;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: none;
  font-size: 0.8rem;
}
.container .content .contentBox form .registration-with-social .button img {
  width: 15px;
  margin-right: 10px;
  background-color: transparent;
}
#registration-facebook {
  background-color: #25529b;
}
#registration-linkedin {
  background-color: #0076b6;
}
.container .content .contentBox form .separator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0px 25px 0px;
}
.container .content .contentBox form .separator p {
  text-transform: uppercase;
  margin: 0px 5px;
  font-size: 0.6rem;
}
.container .content .contentBox form .separator .line {
  background-color: #dfdfdf;
  width: 100px;
  height: 1px;
}
.container .content .contentBox form .registration {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
  margin-bottom: 25px;
}
.container .content .contentBox form .registration .registration-input {
  width: 50%;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container .content .contentBox form .registration .registration-input label {
  display: block;
  margin-left: 10px;
  color: #afafaf;
  font-size: 0.8rem;
}
.container .content .contentBox form .registration .registration-input input {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  padding: 5px 0px 5px 10px;
  border: none;
  outline: none;
}
.container .content .contentBox form .registration div:focus-within {
  border-left: 1px solid rgb(0, 132, 255);
}
.container .content .contentBox form .investor-type h3 {
  font-weight: 350;
}
.container .content .contentBox form .investor-type p {
  margin-top: 10px;
  font-size: 0.8rem;
}
.container .content .contentBox form .investor-type .type .type-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.container
  .content
  .contentBox
  form
  .investor-type
  .type
  .type-list
  .type-element {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container
  .content
  .contentBox
  form
  .investor-type
  .type
  .type-list
  .type-element
  input {
  background-color: blue;
  color: #fff;
  margin-right: 10px;
}
.container
  .content
  .contentBox
  form
  .investor-type
  .type
  .type-list
  .type-element
  label {
  margin-right: 5px;
}
.container
  .content
  .contentBox
  form
  .investor-type
  .type
  .type-list
  .type-element
  img {
  width: 15px;
}
.container
  .content
  .contentBox
  form
  .investor-type
  .type
  .type-element
  .type-description {
  position: relative;
  background-color: #fff;
  width: 50%;
  border-radius: 5px;
}
.container
  .content
  .contentBox
  form
  .investor-type
  .type
  .type-element
  .type-description
  p {
  position: absolute;
  top: 30px;
  left: -50px;
  margin: 0;
  display: inline-block;
  color: #afafaf;
  background-color: #fff;
  padding: 10px;
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  border: 1px solid black;
}
.container .content .contentBox form .policy {
  margin: 0 0 25px 0;
}
.container .content .contentBox form .policy .policyBox {
  display: flex;
}
.container .content .contentBox form .policy .policyBox label {
  font-size: 0.8rem;
  margin-left: 5px;
  color: #afafaf;
}
.container .content .contentBox form .policy .policyBox label a {
  color: #7bc4ff;
}
.container .content .contentBox form input[type="submit"] {
  background-color: #3698fb;
  border: none;
  border-radius: 5px;
  width: calc(50% - 17.5px);
  padding: 15px 30px;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 25px;
}

/* Responsive Web Design */
@media (max-width: 1168px) {
  .container .content .contentBox {
    width: 85%;
  }
  .container .content .contentBox .title h1 {
    font-size: 1.2rem;
  }
  .container .content .contentBox .title p {
    font-size: 0.8rem;
  }
  .container .content .contentBox form .registration-with-social .button {
    font-size: 0.7rem;
    padding: 10px 10px;
  }
  .container .content .contentBox form .separator p {
    font-size: 0.5rem;
  }
  .container .content .contentBox form .registration .registration-input label {
    font-size: 0.7rem;
  }
  .container .content .contentBox form .registration .registration-input input {
    font-size: 0.8rem;
  }
  .container .content .contentBox form .investor-type h3 {
    font-size: 1.1rem;
  }
  .container .content .contentBox form .investor-type p {
    font-size: 0.7rem;
  }
  .container
    .content
    .contentBox
    form
    .investor-type
    .type
    .type-list
    .type-element
    label {
    font-size: 0.8rem;
  }
  .container
    .content
    .contentBox
    form
    .investor-type
    .type
    .type-list
    .type-element
    img {
    width: 10px;
  }
  .container .content .contentBox form .policy .policyBox label {
    font-size: 0.66rem;
  }
  .container .content .contentBox form input[type="submit"] {
    font-size: 0.9rem;
    padding: 10px 10px;
  }
}

@media (max-width: 830px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container .image {
    width: 100%;
    height: 20%;
    overflow: hidden;
    margin-bottom: 25px;
  }
  .container .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container .image .logo {
    top: 25px;
    left: 50px;
  }
  .container .content .contentBox form .investor-type .type .type-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container .content .contentBox form input[type="submit"] {
    width: 100%;
  }
}

@media (width <= 480px) {
  .container .image .logo {
    top: 20px;
    left: 20px;
  }
  .container .content .contentBox {
    width: 95%;
  }
  .container .content .contentBox form .registration-with-social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .container .content .contentBox form .registration-with-social .button {
    width: 100%;
  }
  .container .content .contentBox form .registration {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .container .content .contentBox form .registration .registration-input {
    width: 100%;
  }
  .container .content .contentBox form .policy .policyBox label {
    font-size: 0.6rem;
  }
}
